/* html */
h1, h2, h3, h4 { font-family:oswald; font-weight:100; line-height:1em; text-transform:uppercase; }
h1 { font-size:3em; }
h2 { font-size:2.5em; }
h3 { font-size:2em; }
h4 { font-size:1.5em; margin-top:.5em; }
html { overflow-x: hidden; }
body { margin:0; font-family:arial; background:rgb(225,225,225); font-size:18pt; line-height:1.5em; }
div { box-sizing:border-box; }
button, .button { font-family:oswald; background:none; border:2px solid rgb(0,192,255); color:rgb(0,192,255); font-size:1.25em; padding:10px 15px; text-transform:uppercase; cursor:pointer; transition:background .5s; display:inline-block; margin-bottom:.5em; }
/*.button { margin:0 5px; }*/
button:hover, .button:hover { background:rgba(0,192,255,.5); }
small { font-size:.7em; line-height:1em !important; opacity:.5; display:block; margin-bottom:5px; }
a { text-decoration:none; }
input, select { box-sizing:border-box; display:block; padding:10px 15px; border-radius:4px; border:1px solid rgb(192,192,192); font-size:1em; min-width:296px; }
label { display:block; font-weight:bold; }
textarea { width:100%; box-sizing:border-box; display:block; padding:10px 15px; border-radius:4px; border:1px solid rgb(192,192,192); font-size:1em; min-width:296px; }
nav li { list-style:none; font-size:.75em; display:inline-block; margin:0 .5em; }
nav a { color:black; }

/* ordered list */
ol { clear:both; counter-reset:li; list-style:none; padding:0; margin-bottom:1em; text-shadow:0 1px 0 rgba(255,255,255,.5); margin-left:1em; }
ol li { position:relative; display:block; padding:5%; *padding:5%; margin:1em 0; color:#444; text-decoration:none; transition:all .3s ease-out; line-height:1.5em; }
ol li:hover { box-shadow:0 0 100px rgb(200,228,255) inset; }
ol li:hover:before { transform: rotate(360deg); }
ol li:before { content:counter(li); counter-increment:li; position:absolute; left:-1.3em; top:2em; background:rgb(0,192,255); height:2em; width:2em; line-height:2em; border:.3em solid #fff; text-align:center; font-weight:bold; border-radius:2em; transition:all .3s ease-out; color:white; }

/* header */
#header { position:relative; }
#menu { padding:5%; background:rgba(255,255,255,.5); font-family:oswald; font-weight:100; font-size:24px; padding:10px 20px; text-transform:uppercase; text-align:left; }
#logo { color:black; }
.toggle-menu { display:none !important; cursor:pointer; }

/* sections */
.page-wide { max-width:1600px; margin:0 auto; box-shadow:0 0 25px rgba(0,0,0,.18); background:white; }
.section { text-align:center; padding:5%; background-repeat:no-repeat; background-position:center center; background-size:cover; display:flex; justify-content:center; align-items:center; flex-wrap:wrap; }
.section-small { text-align:center; padding:5%; background-repeat:no-repeat; background-position:center center; background-size:cover; display:flex; justify-content:center; align-items:center; flex-wrap:wrap; }
.section p { text-align:left; }
.section-image { display:none; width:100%; }
.division { background-size:cover; position:relative; }
.division-content { color:white; background:rgba(0,0,0,.5); padding:2.5%; position:absolute; bottom:0; right:0; left:0; }
.division-content h3 { font-size:1.5em; margin:0; text-transform:inherit; }
.division-content .circle { color:black; background:white; margin-right:.5em; font-weight:bold; }
.division-content button { font-size:.6em; color:white; border-color:white; }
.width-half { width:50%; }
.width-third { width:33.33%; }
.width-fourth { width:25%; }
.width-fifth { width:20%; }
.width-fourth { width:25%; }
.height-full { height:100%; }
.height-half { height:50%; }
.height-third { height:33.33%; }
.height-fourth { height:25%; }
.height-fifth { height:20%; }

/* explainer */
.explainer { padding:2%; text-align:center; width:100%; }
.explainer h1, .explainer h2 { margin:0; }

/* progress-bar */
.progress-bar { width:100%; max-width:500px; height:5px; border:1px solid rgb(192,192,192); margin:0 auto; }
.progress-bar .bar { background:rgb(0,192,255); height:100%; width:0; }
.progress-bar .animate-5 { width:100%; transition:width 5s; }

/* pricing */
.pricing { padding:2.5%; background:rgb(245,245,245); }
.pricing-highlight { padding:2.5%; background:white; box-shadow:0 0 20px rgba(0,0,0,.18); z-index:1; }
.pricing select, .pricing-highlight select { margin:0 auto 2em; }

/* global classes */
.badge { float:right; position:absolute; top:2.5%; right:2.5%; background:red; color:white; border-radius:50%; padding:1.1em 1em; font-family:oswald; text-transform:uppercase; line-height:1em; }
.strike { display:inline-block; position:relative; }
.strike .line { border-bottom:3px solid red; position:relative; top:0; margin-top:-.95em; }
.align-center { text-align:center !important; }
.red { color:red; }
.blue { color:rgb(0,192,255); }
.uppercase { text-transform:uppercase; font-family:oswald; font-weight:100; }
.size-0-75 { font-size:.75em; line-height:1.5em; }
.size-1 { font-size:1em; }
.size-1-5 { font-size:1.5em; }
.alert { font-size:.8em; padding:1em 1.5em; line-height:1.33em; background:rgb(255,245,215); border:1px solid rgb(192,175,96); }
.inline-block { display:inline-block; }
.padding-5 { padding:5%; }
.padding-0 { padding:0; }
.margin-0 { margin:0; }
.background-white { background:white; }
.align-left { text-align:left; }
.align-center { text-align:center; }
.align-right { text-align:right; }
.display-block { display:block; }
.float-left { float:left; }
.float-right { float:right; }
.circle { font-size:.5em; padding:.25em .75em; border-radius:50%; position:relative; top:-.25em; background:rgb(0,192,255); color:white; }
.clear { clear:both; }
.black { color:black; border-color:black; }
.no-padding { padding:0; }
.no-margin { margin:0; }
.margin-top-0 { margin-top:0; }
.margin-bottom-0 { margin-bottom:0; }
.page { background:white; max-width:1000px; padding:5%; box-shadow:0 0 20px rgba(0,0,0,.12); margin:5% auto; }

/* home */
@media(max-width: 1200px) {
    .toggle-menu { display:inherit !important; }
    .menu { display:none; }
    h1 { font-size:2.5em; }
    h2 { font-size:2em; }
    h3 { font-size:1.5em; }
    h4 { font-size:1.25em; margin-top:.5em; }
    #menu { text-align:left; }
    #logo { margin:inherit; }
    body { font-size:12pt; }
    .page { margin:0; }
    .page { text-align:center; }
    .page li { text-align:left; }
    .section { background:none !important; display:block; padding:0; height:auto !important; }
    .section-content { display:block; width:100% !important; padding:5%; color:black !important; text-shadow:none !important; }
    .section-content h2, .section-content p { color:black !important; }
    .section-image { display:block; }
    .section-content .button { color:black !important; border-color:black !important; }
    input[type="text"] { width:100% !important; }
    ol li:before { left:-1.3em; top:1em; background:rgb(0,192,255); height:1.5em; width:1.5em; line-height:1.5em; border:.1.5em solid #fff; text-align:center; font-weight:bold; border-radius:1.5em; transition:all .3s ease-out; color:white; }
    .width-half { width:100% !important; }
    .width-third { width:100% !important; }
    .width-fourth { width:100% !important; }
    .width-fifth { width:100% !important; }
    #profile-location { height:400px !important; }
}
